.post-container{
    background-color: #fff;
    position: relative;
    width: 92vw;
    border-radius: 5px;
    margin-bottom: 5px;
}

.post-container .post-pic{
    width: 100%;
    position:relative;
    padding-top: 3px;
}

.post-container .post-pic .headPic{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.post-container .post-pic .isVideo{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.post-container .post-bottom{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 8px 10px 8px;
}

.post-container .post-bottom .title-con{
    position: relative;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    min-height: 20px;
}

.post-container .post-bottom .title-con .title{
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2; 
    overflow: hidden; 
}

.post-container .post-bottom .bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
}

.post-container .post-bottom .bottom .avatar{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.post-container .post-bottom .bottom .avatar img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.post-container .post-bottom .bottom .name{
    color: rgba(0,0,0,0.6);
    font-size: 11px;
}

.post-container .post-bottom .bottom .star{
    position: absolute;
    right: 10px;
    color: #666666;
    font-size: 13px;
}

.post-container .post-bottom .bottom img{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}


.video-title{
    color: white;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    left: 1%;
}