.post-detail{
    position: relative;
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    color: black;
    font-size: 13px;
}

.post-detail .post-header{
    line-height: 45px;
    box-sizing: border-box;
    padding-top: 0px;
    padding-left:  45px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    z-index: 10;
    text-align: left;
}

.post-detail .post-header .post-left{
    position: relative;
    width: 20px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 15px;
}

.post-message{
    bottom: 65px;
    background-color: rgba(24, 25, 26, 0.5);
    color: white;
    font-size: 16px;
    position: fixed;
    display: flex;
    left: 50%;
    margin-left: -80px;
}

.post-detail .post-description{
    top: 35px;
    position: absolute;
    display: flex;
    margin-left: 10px;
    z-index: 999;
}

.post-detail .post-text{
    /* bottom: 85px;
    position: absolute; */
    text-align: left;
    margin: 0px 5px 0px 10px;
    margin-bottom: 50px;
    font-size: 12px;
    white-space: pre-wrap;
    line-height: 20px;
}

.post-detail .post-title{
    /* bottom: 85px;
    position: absolute; */
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    white-space: pre-wrap;
}

.post-detail .post-profile{
    /* bottom: 85px;
    position: absolute; */
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 999;
}

.post-detail .post-profile .profileAvator{
    width: 35px;
    height: 35px;
    z-index: 999;
    display: flex;
}

.post-detail .post-profile .profileAvator img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.comment-drawer {
    position: absolute;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .comment-avator{
    height: 30px;
    width: 30px;
    margin-top: 5px;
  }

  
  .comment-avator img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
  }