.homeHeader .search-nav{
    border-radius: 13px;
    height: 32px;
    width: 85%;
    margin-left: 10px;
    background-color: rgba(0,0,0,0.1);
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

.homeHeader .search-nav span{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}

.search-icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.homeHeader{
    /* padding-top: 10px; */
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.focus-items{
    box-sizing: border-box;
    height: 175px;
    padding: 10px 0 10px 10px;
    overflow: scroll;
    display: -webkit-box;
    white-space: nowrap;
    overflow: hidden;
    text-align: justify;
    overflow-x: initial;
}

.focus-items .focus-item{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    background-color: #fff;
    width: 100px;
    height: 150px;
    margin-right: 8px;
}

.focus-items .focus-item .focus-item__flex{
    width: 100%;
    height: 100%;
}

.focus-items .focus-item .focus-item__flex .focus-bgc{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.focus-items .focus-item .focus-item__flex .focus-avatar{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 18%;
    left: 8%;
}

.home-container .publish{
    width: 20%;
    border: 0;
    background-color: transparent;
    outline: none;
    width: 45px;
    height: 33px;
    position: fixed;
    right: 2px;
  }
  
  .home-container .publish img{
    width: 32px;
   
  }