.card-detail{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(24, 25, 26, 0.5);
    color: white;
    font-size: 16px;
}

.card-detail .card-header{
    line-height: 45px;
    box-sizing: border-box;
    padding-top: 0px;
    padding-left:  45px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #fff;
    z-index: 10;
    color: rgb(148,148,148);
    text-align: left;
}

.card-detail .card-header .card-left{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 7px;
    left: 15px;
}

.card-detail .card-message{
    bottom: 52px;
    position: absolute;
    display: flex;
}

.card-detail .card-description{
    top: 35px;
    position: absolute;
    display: flex;
    margin-left: 10px;
    z-index: 999;
}

.card-detail .card-profile{
    bottom: 75px;
    position: absolute;
    display: flex;
    z-index: 999;
}

.card-detail .card-profile .profileAvator{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    z-index: 999;
}

.card-detail .card-profile .profileAvator img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.comment-drawer {
    position: absolute;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .comment-avator{
    height: 25px;
    width: 25px;
    margin-top: 15px;
  }

  
  .comment-avator img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 999;
  }