.search-nav{
    border-radius: 13px;
    height: 25px;
    width: 90%;
    margin: auto;
    background-color: rgba(0,0,0,0.1);
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5px;
}

.search-nav span{
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}

.search-icon{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.header{
    padding-top: 10px;
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
